## DATA PREPROCESSING AND DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('ATTACK.csv')
df.head()

,FWT_TOT,PORT,PROCOLS,TTPE,SERVICE,FLOW_DURATION,BWD_TOT,FWT_DATA,BWD_DATA,DOWN_UP_RATION,FWD_SIZE,BWD_SIZE,FNN_FLAG,SYN_FLAG,RST_FLAG,PSH_FLAG,ACK_FLAG,URG_FLAG,Attack_type
0,9,38667,1883,tcp,mqtt,32.011598,5,3,3,0.555556,296,168,0,2,1,3,13,0,MQTT_Publish
1,9,51143,1883,tcp,mqtt,31.883584,5,3,3,0.555556,296,168,0,2,1,3,13,0,MQTT_Publish
2,9,44761,1883,tcp,mqtt,32.124053,5,3,3,0.555556,296,168,0,2,1,3,13,0,MQTT_Publish
3,9,60893,1883,tcp,mqtt,31.961063,5,3,3,0.555556,296,168,0,2,1,3,13,0,MQTT_Publish
4,9,51087,1883,tcp,mqtt,31.902362,5,3,3,0.555556,296,168,0,2,1,3,13,0,MQTT_Publish

In [3]:
df.tail()

,FWT_TOT,PORT,PROCOLS,TTPE,SERVICE,FLOW_DURATION,BWD_TOT,FWT_DATA,BWD_DATA,DOWN_UP_RATION,FWD_SIZE,BWD_SIZE,FNN_FLAG,SYN_FLAG,RST_FLAG,PSH_FLAG,ACK_FLAG,URG_FLAG,Attack_type
123112,1,59247,63331,tcp,-,0.000006,1,0,0,1.0,20,20,1,0,1,1,1,1,NMAP_XMAS_TREE_SCAN
123113,1,59247,64623,tcp,-,0.000007,1,0,0,1.0,20,20,1,0,1,1,1,1,NMAP_XMAS_TREE_SCAN
123114,1,59247,64680,tcp,-,0.000006,1,0,0,1.0,20,20,1,0,1,1,1,1,NMAP_XMAS_TREE_SCAN
123115,1,59247,65000,tcp,-,0.000006,1,0,0,1.0,20,20,1,0,1,1,1,1,NMAP_XMAS_TREE_SCAN
123116,1,59247,65129,tcp,-,0.000006,1,0,0,1.0,20,20,1,0,1,1,1,1,NMAP_XMAS_TREE_SCAN

In [4]:
df.shape

(123117, 19)

In [5]:
df.size

2339223

In [6]:
df.columns

Index(['FWT_TOT', 'PORT', 'PROCOLS', 'TTPE', 'SERVICE', 'FLOW_DURATION',
       'BWD_TOT', 'FWT_DATA', 'BWD_DATA', 'DOWN_UP_RATION', 'FWD_SIZE',
       'BWD_SIZE', 'FNN_FLAG', 'SYN_FLAG', 'RST_FLAG', 'PSH_FLAG', 'ACK_FLAG',
       'URG_FLAG', 'Attack_type'],
      dtype='object')

In [7]:
df.isnull()

,FWT_TOT,PORT,PROCOLS,TTPE,SERVICE,FLOW_DURATION,BWD_TOT,FWT_DATA,BWD_DATA,DOWN_UP_RATION,FWD_SIZE,BWD_SIZE,FNN_FLAG,SYN_FLAG,RST_FLAG,PSH_FLAG,ACK_FLAG,URG_FLAG,Attack_type
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123112,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
123113,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
123114,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
123115,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
123116,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df = df.dropna()

In [9]:
df['Attack_type'].unique()

array(['MQTT_Publish', 'Normal', 'Wipro_bulb', 'ARP_poisioning',
       'DDOS_Slowloris', 'DOS_SYN_Hping', 'Metasploit_Brute_Force_SSH',
       'NMAP_FIN_SCAN', 'NMAP_OS_DETECTION', 'NMAP_TCP_scan',
       'NMAP_UDP_SCAN', 'NMAP_XMAS_TREE_SCAN'], dtype=object)

In [10]:
df.describe()

,FWT_TOT,PORT,PROCOLS,FLOW_DURATION,BWD_TOT,FWT_DATA,BWD_DATA,DOWN_UP_RATION,FWD_SIZE,BWD_SIZE,FNN_FLAG,SYN_FLAG,RST_FLAG,PSH_FLAG,ACK_FLAG,URG_FLAG
count,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000,123117.000000
mean,2.268826,34639.258738,1014.305092,3.809566,1.909509,1.471218,0.820260,0.854571,53.892379,46.626900,0.115605,0.950868,0.796454,0.351332,2.677737,0.016293
std,22.336565,19070.620354,5256.371994,130.005408,33.018311,19.635196,32.293948,0.337640,393.027195,1028.228573,0.475013,0.474262,0.436998,3.951627,41.654868,0.126602
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,17702.000000,21.000000,0.000001,1.000000,1.000000,0.000000,1.000000,20.000000,20.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000
50%,1.000000,37221.000000,21.000000,0.000004,1.000000,1.000000,0.000000,1.000000,20.000000,20.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000
75%,1.000000,50971.000000,21.000000,0.000005,1.000000,1.000000,0.000000,1.000000,20.000000,20.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000
max,4345.000000,65535.000000,65389.000000,21728.335580,10112.000000,4345.000000,10105.000000,6.087899,69296.000000,323592.000000,10.000000,8.000000,10.000000,864.000000,11772.000000,1.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123117 entries, 0 to 123116
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FWT_TOT         123117 non-null  int64
 1   PORT            123117 non-null  int64
 2   PROCOLS         123117 non-null  int64
 3   TTPE            123117 non-null  object
 4   SERVICE         123117 non-null  object
 5   FLOW_DURATION   123117 non-null  float64
 6   BWD_TOT         123117 non-null  int64
 7   FWT_DATA        123117 non-null  int64
 8   BWD_DATA        123117 non-null  int64
 9   DOWN_UP_RATION  123117 non-null  float64
 10  FWD_SIZE        123117 non-null  int64
 11  BWD_SIZE        123117 non-null  int64
 12  FNN_FLAG        123117 non-null  int64
 13  SYN_FLAG        123117 non-null  int64
 14  RST_FLAG        123117 non-null  int64
 15  PSH_FLAG        123117 non-null  int64
 16  ACK_FLAG        123117 non-null  int64
 17  URG_FLAG        123117 non-null  int64
 18  Attack_type     123117 non-null  object
dtypes: float64(2), int64(14), object(3)
memory usage: 17.8+ MB

In [12]:
pd.crosstab(df["FWT_TOT"], df["TTPE"])

TTPE     icmp    tcp   udp
FWT_TOT
0           0      9    35
1          35  99806  5614
2          11     57  6474
3           1     64    99
4           1    164    77
...       ...    ...   ...
1661        0      1     0
1887        0      0     2
2166        0      1     0
3549        0      0     1
4345        0      0     1

[163 rows x 3 columns]

In [13]:
df.groupby(["PORT","PROCOLS"]).groups

{(0, 8): [12600, 20149], (0, 21): [101150], (1, 21): [101151], (2, 21): [101152, 105575], (3, 0): [16565], (3, 1): [11659, 12470, 12475], (3, 3): [4995, 5219, 18760, 20027, 121105, 121106], (3, 21): [101153, 112357], (4, 21): [101154], (5, 21): [101155], (6, 21): [101156], (7, 21): [101157, 109979, 114419], (8, 0): [12599, 20148], (8, 21): [101158], (9, 21): [101159, 110616], (10, 21): [101160], (11, 21): [101161, 107767], (12, 21): [101162], (13, 21): [101163], (14, 21): [101164], (15, 21): [101165], (16, 21): [103210], (17, 21): [103211], (18, 21): [103212], (19, 21): [103213], (20, 21): [103214], (21, 21): [103215, 108368], (22, 21): [103216, 110656], (23, 21): [103217], (24, 21): [103218], (25, 21): [103219, 107830], (26, 21): [103220, 109634], (27, 21): [103221, 105841], (28, 21): [103222], (29, 21): [103223], (30, 21): [103224, 108585], (31, 21): [103225], (32, 21): [103226], (33, 21): [103227], (34, 21): [103228, 108673], (35, 21): [103229], (36, 21): [103230, 105564], (37, 21): [103231], (38, 21): [103232], (39, 21): [103233, 111665], (40, 21): [103234], (41, 21): [103235], (42, 21): [103236], (43, 21): [103237], (44, 21): [103238], (45, 21): [103239], (46, 21): [103240], (47, 21): [103241, 110497], (48, 21): [103242], (49, 21): [103243], (50, 21): [103244], (51, 21): [103245], (52, 21): [103246, 112112], (53, 21): [103247], (54, 21): [103248], (55, 21): [103249], (56, 21): [103250], (57, 21): [103251, 106342], (58, 21): [103252, 108369], (59, 21): [103253], (60, 21): [103254], (61, 21): [103255], (62, 21): [103256], (63, 21): [103257, 111003], (64, 21): [103258], (65, 21): [103259], (66, 21): [103260], (67, 21): [103261], (68, 21): [103262], (68, 67): [4617, 4745, 4746, 4991, 4992, 5136, 5138, 5215, 5217, 5305, 5306, 6061, 9184, 11612, 12388, 12431, 12444, 12455, 12463, 14996, 15016, 15037, 15059, 15082, 15105, 15131, 15196, 15234, 15264, 15269, 15811, 16584, 16839, 16840, 17044, 17598, 17841, 18031, 18179, 18340, 18492, 18637, 18856, 19045, 19046, 20352, 20790, 118765, 118766], (69, 21): [103263], (70, 21): [103264, 112127], (71, 21): [103265], (72, 21): [103266], (73, 21): [103267], (74, 21): [103268], (75, 21): [103269], (76, 21): [103270, 109647], (77, 21): [103271], (78, 21): [103272], (79, 21): [103273, 108139], (80, 21): [103274], (81, 21): [103275, 106857], (82, 21): [103276], (83, 21): [103277], (84, 21): [103278], (85, 21): [103279, 107700], (86, 21): [103280], (87, 21): [103281], (88, 21): [103282], (89, 21): [103283], (90, 21): [103284, 108407], (91, 21): [103285], (92, 21): [103286], (93, 21): [103287], ...}

In [14]:
df["Attack_type"].value_counts()

Attack_type
DOS_SYN_Hping                 94659
Normal                         8108
ARP_poisioning                 7750
MQTT_Publish                   4146
NMAP_UDP_SCAN                  2590
NMAP_XMAS_TREE_SCAN            2010
NMAP_OS_DETECTION              2000
NMAP_TCP_scan                  1002
DDOS_Slowloris                  534
Wipro_bulb                      253
Metasploit_Brute_Force_SSH       37
NMAP_FIN_SCAN                    28
Name: count, dtype: int64

In [15]:
pd.Categorical(df["Attack_type"]).describe()

                            counts     freqs
categories
ARP_poisioning                7750  0.062948
DDOS_Slowloris                 534  0.004337
DOS_SYN_Hping                94659  0.768854
MQTT_Publish                  4146  0.033675
Metasploit_Brute_Force_SSH      37  0.000301
NMAP_FIN_SCAN                   28  0.000227
NMAP_OS_DETECTION             2000  0.016245
NMAP_TCP_scan                 1002  0.008139
NMAP_UDP_SCAN                 2590  0.021037
NMAP_XMAS_TREE_SCAN           2010  0.016326
Normal                        8108  0.065856
Wipro_bulb                     253  0.002055

In [16]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
123112    False
123113    False
123114    False
123115    False
123116    False
Length: 123117, dtype: bool

In [17]:
sum(df.duplicated())

7112

In [18]:
df = df.drop_duplicates()

In [19]:
sum(df.duplicated())

0